<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.zy68.Dao.PasteMapper">
  <resultMap id="BaseResultMap" type="top.zy68.Model.Paste">
    <id column="short_link" jdbcType="CHAR" property="shortLink" />
    <result column="expiration_time" jdbcType="TIMESTAMP" property="expirationTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="paste_path" jdbcType="VARCHAR" property="pastePath" />
  </resultMap>
  <sql id="Base_Column_List">
    short_link, expiration_time, create_time, paste_path
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from paste
    where short_link = #{shortLink,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from paste
    where short_link = #{shortLink,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="top.zy68.Model.Paste">
    insert into paste (short_link, expiration_time, create_time, 
      paste_path)
    values (#{shortLink,jdbcType=CHAR}, #{expirationTime,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP}, 
      #{pastePath,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="top.zy68.Model.Paste">
    insert into paste
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="shortLink != null">
        short_link,
      </if>
      <if test="expirationTime != null">
        expiration_time,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="pastePath != null">
        paste_path,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="shortLink != null">
        #{shortLink,jdbcType=CHAR},
      </if>
      <if test="expirationTime != null">
        #{expirationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="pastePath != null">
        #{pastePath,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="top.zy68.Model.Paste">
    update paste
    <set>
      <if test="expirationTime != null">
        expiration_time = #{expirationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="pastePath != null">
        paste_path = #{pastePath,jdbcType=VARCHAR},
      </if>
    </set>
    where short_link = #{shortLink,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="top.zy68.Model.Paste">
    update paste
    set expiration_time = #{expirationTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      paste_path = #{pastePath,jdbcType=VARCHAR}
    where short_link = #{shortLink,jdbcType=CHAR}
  </update>
</mapper>